# check which files are ignored: git status --ignored

.venv/
.venv_test/
.vscode/
.pre-commit-config.yaml
howto/
fortran/
TODO.txt

circuit.qpy
qcData
*.csv
results/
script.py
scripts/
data/
development/
ttheom/mitigation/

result.csv

# documentation
docs/_build/
docs/_static/
docs/_templates/
docs/MagicMock/

# created by coverage
htmlcov/

# created by pytest
__pycache__
.pytest_cache/

# created by coverage
*.egg-info/
.coverage

# created by build (python -m build) or by setuptools (python setup.py sdist bdist_wheel)
dist/
.egg-info/

# created by Jupyter Notebooks
__pycache__
.ipynb_checkpoints
