customtkinter==5.2.2
matplotlib-inline==0.1.7
matplotlib==3.11.0
numpy==2.3.2
numpydoc==1.9.0
scipy==1.16.1
pandas==2.3.1
tqdm==4.67.1
qutip==5.2.1
qiskit==2.2.3
pylatexenc==2.10
paramiko==4.0.0
baryrat==2.1.2